@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

:root {
  --background-color: #ebebed;
  --primary-color: #06031d;
  --secondary-color: orangered;
  --accent: #f2f2f2;
}

body {
  background: var(--background-color);
}

p {
  font-size: 0.78em;
  line-height: 1.5em;
}

img {
  width: 100%;
}

header {
  margin-top: 2em;
}

header nav {
  float: right;
}

header nav ul {
  list-style: none;
  display: flex;
}

header nav ul a {
  margin-left: 3em;
  font-size: 0.75em;
  font-weight: 600;
  padding: 0.5em 0.7em;
  text-decoration: none;
  color: var(--primary-color);
  transition: all 0.5s ease-in;
}

header nav ul a:hover {
  background: var(--primary-color);
  color: var(--accent);
  padding: 0.5em 0.7em;
  border-radius: 3px;
}

header .logo h3 {
  color: var(--primary-color);
  cursor: pointer;
}

.logo-part {
  color: var(--secondary-color);
}

/* Hero  */
.hero {
  margin-top: 6.5em;
  gap: 2em;
}

.hero-texts > * + * {
  margin-top: 1.3em;
}

.hero .hero-texts h1 {
  font-size: 3.5em;
  line-height: 1em;
  font-weight: 800;
  color: var(--primary-color);
}

.hero button {
  padding: 1.3em 3em;
  background: var(--secondary-color);
  background-image: linear-gradient(to bottom right, #f04a0d, #e82431);
  border: none;
  border-radius: 2px;
  font-size: 0.75em;
  cursor: pointer;
}

.hero button a {
  color: var(--accent);
  text-decoration: none;
}

/* Main  */
main {
  background: lightgrey;
}

.social-links-texts {
  width: 100%;
  height: 15em;
  position: relative;
}

.social-links {
  margin-top: 2em;
}

.social-links a {
  color: var(--primary-color);
}

.icon {
  font-size: 1.3em;
  padding-inline: 1em;
  padding-bottom: 0.5em;
  margin-left: -0.2em;
}

.fb {
  border-bottom: 2px solid var(--primary-color);
}

.tw {
  border-bottom: 2px solid #2f92cb;
}

.ig {
  border-bottom: 2px solid deeppink;
}

.social-texts {
  background: var(--primary-color);
  padding-block: 3em;
  position: absolute;
  right: 0;
  top: -3em;
  display: flex;
  gap: 1.5em;
}

.social-text,
.social-image {
  width: 15em;
}

.social-texts h5 {
  color: #f2f2f2;
}

.social-text {
  margin-left: 1em;
}

.social-text p {
  margin-top: 1em;
  color: #f2f2f2;
  font-size: 0.7em;
}

/* Collections  */

.collections {
  margin-top: 3em;
}

.collections > h2 {
  text-align: center;
  font-size: 2em;
}

.collections-images-texts {
  margin-top: 2em;
}

.collection-img-text {
  display: grid;
  grid-auto-rows: 3;
}

.collection-img-text img {
  grid-row: span 2;
  height: 35em;
}

.collection-text {
  padding: 7em 2em;
  text-align: center;
  background: var(--accent);
  position: relative;
  overflow: hidden;
}

.collection-text h1 {
  position: absolute;
  font-size: 12em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  z-index: 2;
  bottom: -0.3em;
  left: -0.053em;
  color: lightgrey;
  opacity: 0.5;
}

.collection-text p::before {
  content: '';
  width: 5em;
  height: 2px;
  left: 50%;
  transform: translate(-50%);
  top: -20%;
  background: orangered;
  position: absolute;
}

.collection-text p {
  z-index: 100;
  top: 55%;
  left: 50%;
  right: -15%;
  align-self: center;
  transform: translate(-50%, -50%);
  position: absolute;
  font-size: 0.8em;
}

.bottom-collection-imgs {
  margin-block: 1em 3em;
}

.bottom-collection-imgs img {
  object-fit: cover;
  height: 17em;
}

/* Medium  */

.img-medium {
  margin-block: 5em;
}

.img-medium > img {
  height: 31.3em;
  margin-bottom: 0;
}

.middle {
  width: 3em;
  height: 3em;
  background: transparent;
}

.medium {
  margin-right: 0;
}

.medium h2 {
  font-size: 3em;
  font-weight: bold;
  line-height: 1em;
  color: var(--primary-color);
  font-family: 'Agrandir', sans-serif;
}

.med-dec {
  font-weight: 300;
  font-style: italic;
  font-family: 'Agrandir', sans-serif;
}

.medium > * + * {
  margin-top: 2em;
}

.medium-texts {
  display: flex;
  justify-content: space-between;
}

.medium-texts p {
  width: 43%;
}

.medium-imgs {
  display: flex;
  gap: 0.5em;
  position: relative;
}

.medium-imgs img {
  width: 32.5%;
  height: 16.6em;
  position: absolute;
  object-fit: cover;
}

.medium-img2 {
  left: 50%;
  transform: translate(-50%);
}

.medium-img3 {
  right: 0;
}
